.form-wrapper {
  margin: 0 auto;
  width: 50%;
  padding: 20px;
  margin-top: 30px;
  background: #fff;
  box-shadow: 0 3px 10px rgba(140, 152, 164, 0.3);
}

.input-wrapper {
  margin-bottom: 20px;
}

.input-wrapper label {
  padding-right: 20px;
}

.result-wrapper {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  background: #609460;
  color: #fff;
}

body {
  background: #eee;
}

h1.center {
  text-align: center;
}